/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

/* Form Container Styles */
.form-container {
    display: flex;
    background-color: #fff;
    /* padding: 20px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-wrap: wrap;
}

/* Header Styles */
header {
    width: 100%;
    background-color: #EFFFF4;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

header p {
    font-size: 16px;
    color: #008A45;
}

header span {
    font-size: 10px;
}

/* Form Styles */
.form {
    flex: 1;
    padding: 20px;
}

.form h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.form p {
    font-size: 15px;
    color: #777;
    margin-bottom: 20px;
}

.form a {
    color: #007bff;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
}

.input-group input {
    padding: 15px;
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 15px;
    /* margin-bottom: 10px; */
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    font-size: 16px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.social-signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-signup button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.social-signup .facebook {
    /* background-color: #3b5998; */
    color: #000000;
}

.social-signup .facebook:hover {
    background-color: #2d4373;
    color: #fff;
}

.social-signup .google {
    /* background-color: #db4437; */
    color: #000000;
}

.social-signup .google:hover {
    background-color: #c23321;
    color: #fff;
}

/* Illustration Styles */
.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.illustration img {
    max-width: 100%;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }
}
